DATABASE_URL=postgresql://postgres.your-username:your-password@your-host:your-port/your-database
DIRECT_URL=postgresql://postgres.your-username:your-password@your-host:your-port/your-database
NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-url.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
INNGEST_DEV=1
E2B_API_KEY=your-e2b-api-key
OPENAI_API_KEY=your-openai-api-key

DATAIMPULSE_PROXY_HOST=gw.dataimpulse.com
DATAIMPULSE_PROXY_PORT=823
DATAIMPULSE_PROXY_USERNAME=your-dataimpulse-proxy-username
DATAIMPULSE_PROXY_PASSWORD=your-dataimpulse-proxy-password